@model EntityLayer.Concrete.KursKayit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="d-flex flex-column mb-3">
        <div>
            <h1 class="mt-3 text-center">
                <b>@Model.OgrenciID</b> id'li' öğrencinin <b>@Model.KursID</b> id'li' kursunu silmek istediğinizden emin misiniz?
            </h1>
        </div>

        <div class="text-center">
            <form asp-action="Delete" method="post">
                <input type="hidden" name="id" value="@Model.KayitID" />
                <button type="submit" class="btn btn-danger">Evet</button>
                <a asp-action="Index" class="btn btn-primary">Hayır</a>
            </form>
        </div>
    </div>

</div>

